@{
    ViewBag.Title = "Toutokazz - FAQ";
    ViewBag.description = "Toutokazz, Foire aux questions";
    ViewBag.motscles = "toutokazz, toutokaz, annonces, haiti, classified ads, ads,site annonce, site annonces, petites, annonces,gratuites";
    ViewBag.page_description = "Toutokazz, Foire aux questions";
    ViewBag.ImageUrl = Url.Content("~/Content/img/slides/slide-positive-women.jpg");
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section open_graph_tags{
    @Html.Partial("_OpenGraphTag")
}
@section categories_menu {
          @{Html.RenderAction("_NavbarCategoriesMenu", "Home");}
}

<div class="col-lg-12">
      <h3>Aide</h3>
    <hr />
    <ul>
        <li>
            <h5><strong>C’est quoi Toutokazz.com?</strong></h5>
            <p>
   Toutokazz.com est un site de petites annonces généralistes ciblant les haïtiens vivants en Haïti et ceux de la diaspora. 
Son objectif est de mettre en relation ceux qui ont un bien ou service à vendre et ceux qui sont à la recherche de ce bien ou service.
            </p>
        </li>
         <li>
            <h5><strong>Est-ce que je peux acheter et payer un produit directement sur Toutokazz.com ?</strong></h5>
            <p>Non, on ne peut effectuer de transaction directement sur le site Toutokazz.com.</p>
        </li>
        <li>
            <h5><strong>Que faire si je suis intéressé par un produit présenté sur Toutokazz.com ?</strong></h5>
            <p>Si vous êtes intéressé par un produit ou service présenté sur Toutokazz.com, 
    nous vous invitons à contacter l’annonceur en utilisant l’espace « Contacter l’annonceur » située à droite dans la page de l’annonce.</p>
        </li>
        <li>
            <h5><strong>Qui peut déposer une annonce sur Toutokazz.com ?</strong></h5>
            <p>Toute personne possédant une adresse email active peu s’enregistrer sur toutokazz.com pour y déposer des annonces. 
                 Elle peut créer un compte particulier 
                si elle compte déposer moins de  10 annonces par moi ou un compte professionnel si elle veut en déposer plus.</p>
        </li>
        <li>
            <h5><strong>Dois-je payer pour déposer une annonce sur Toutokazz ?</strong></h5>
            <p>Non, déposer une annonce sur Toutokazz est gratuit.</p>
        </li>
        <li>
            <h5><strong>Comment m’enregistrer sur Toutokazz.com ?</strong></h5>
            <p>Vous pouvez utiliser une des deux méthodes suivantes pour vous enregistrer sur Toutokazz.com :</p>
            <ul>
                <li> Cliquez sur le menu « Mon Compte» et dans la section « Vous n'avez pas encore de compte? », choisissez de créer un compte particulier ou un compte professionnel.</li>
                <li>Cliquez sur le bouton « Déposer une annonce ». En remplissant la forme  de depot d’annonce, vous entrer votre adresse email et le mot de passe de votre choix. Une fois l’annonce soumît, le compte est aussi créé.</li>
            </ul>
        </li>
        <li>
            <h5><strong>Comment déposer une annonce ?</strong></h5>
            <p>Vous pouvez utiliser une des trois methodes suivantes pour deposer une annonce :
            </p>
            
                <ul>
                    <li>Cliquez sur le bouton « Déposer une annonce » en haut, à droite, puis remplir le formulaire complétement avant de le soumettre.</li>
                    <li>Cliquez sur le bouton « Déposer une annonce » en bas, à gauche, puis remplir le formulaire complétement avant de le soumettre.</li>
                    <li>Allez à la page « Mes annonces » en cliquant sur le menu « Mes annonces ». De là, Cliquez sur le bouton « Déposer une annonce », puis remplir le formulaire complètement avant de le soumettre.</li>
                </ul>
        </li>
                <li>
            <h5><strong>Comment désactiver une annonce ?</strong></h5>
            <p>Vous pouvez désactiver une  annonce déposee de la facon suivante :
            </p>
            
                <ul>
                    <li>Connectez-vous a partir du votre compte avec lequel vous avez deposé l'annonce.</li>
                    <li>Allez à la page « Mes annonces » en cliquant sur le menu « Mes annonces ».</li>
                     <li>De là, Filter l'annonce a désactiver , cliquer sur le lien "désactiver " et confimer votre choix</li>
                </ul>
        </li>
        <li>
            <h5><strong>Que dois-je faire si je voudrais poster un nombre important  d’annonces en même temps ?</strong></h5>
            <p>
                L’equipe de Toutokazz.com se fera un plaisir de télécharger vos annonces, aussi nombreux qu’ils 
    peuvent etre pour vous. Veuillez nous contact à travers le site ou envoyez-nous un email à equipe@toutokazz.com.
            </p>
        </li>
               <li>
            <h5><strong>Comment contacter l’equipe de Toutokazz.com.</strong></h5>
            <p>Pour nous joindre, vous pouvez cliquer sur le menu « Contactez-nous » en haut de page ou sur le lien « Contact » en bas de page.  
    Apres il suffit de remplir le formulaire en n’oubliant pas de nous laisser vos coordonnées afin de pouvoir vous répondre.</p>
        </li>
    </ul>
    

</div>
