<div class="row">
    <div class="col-lg-4">
        <h2>Déposer</h2>
        <p>Déposez votre annonce en un clic et créez un compte automatiquement. Une fois validée par notre équipe de modérateur, votre annonce sera visible et accessible au monde entier. </p>

    </div>
    <div class="col-lg-4">
        <h2>Négocier</h2>
        <p>Une fois contacté à travers le site ou par téléphone, vous pourrez négocier votre prix avec l’acheteur par téléphone, par email ou en toute confidentialité à travers le site</p>

    </div>
    <div class="col-lg-4">
        <h2>Conclure </h2>
        <p>Soyez convaincant et sur de vous pour conclure la vente.</p>

    </div>
</div>