@model Toutokaz.WebUI.Models.AnnonceurViewModel
@using Toutokaz.WebUI.Helpers
@using MvcSiteMapProvider.Web.Html
@using PagedList.Mvc

@{
    ViewBag.Title = "Toutokazz - Annonces Professionnels";
    ViewBag.page_description = "Toutokazz, Postez vos annonces sur votre vitrine pro en ligne";
    ViewBag.description = "Toutokazz, Postez vos annonces sur votre PagePro en ligne";
    ViewBag.ImageUrl = Url.Content("~/Content/img/slides/slide-positive-women.jpg");
    Layout = "~/Views/Shared/_LayoutPagev2.cshtml";
}



@section Search{


    <div class="search-row-wrapper">
        <div class="container ">
     
        </div>
    </div>
    <!-- /.search-row -->
}
<!--Main container-->

<div class="row">
    <!--/.page-side-bar-->
    <div class="col-sm-12 page-content col-thin-left">

        <!--/.listing-filter-->
        <div class="adds-wrapper">
            <h1> Vitrine de @Model.annonceur.nom_entreprise<span class="badge">@ViewBag.count_annonce</span></h1>
            <div class="listing-filter">
                <div class="pull-right col-xs-6 text-right listing-view-action"> <span class="list-view active"><i class="  icon-th"></i></span> <span class="compact-view"><i class=" icon-th-list  "></i></span> <span class="grid-view "><i class=" icon-th-large "></i></span> </div>
                <div style="clear:both"></div>
            </div>

            @Html.Partial("_listing", Model.AdsList)
        </div>
        <!--/.page-content-->

    </div>
</div>
