
			<!-- panel left -->
<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true">
    <div class='nd2-sidepanel-profile wow fadeInDown'>
        <img class='profile-background' src="~/Content/img/pat2.jpg" />
        <div class="row">
            <div class='col-xs-4 center-xs'>
                <div class='box'>
                    <img class="profile-thumbnail" src="~/Content/img/avatar-profile.jpg" />
                </div>
            </div>
        @if (Request.IsAuthenticated)
        {
            <div class='col-xs-8'>
                <div class='box profile-text'>
                    <strong>Jane Doe</strong>
                    <span class='subline'>Super Power User</span>
                </div>
            </div>
        }
        </div>
    </div>

    <ul data-role="listview" data-inset="false">
            <li><a href="@Url.Action("Index","Home")" data-ajax='false' data-icon="false">Accueil</a></li>
            <li><a href="@Url.Action("allannonce","annonces")" data-ajax='false' data-icon="false">Toutes les annonces</a></li>
            <li><a href="@Url.Action("Index","Home")" data-ajax='false' data-icon="false">Catégories</a></li>
            <li><a href="@Url.Action("create","account")" data-ajax='false'>Créer un compte</a></li>
    </ul>
</div>
<!-- /panel left -->
