@{
    ViewBag.Title = "CreateSuccess";
    Layout = "~/Views/Shared/_LayoutAccountPage.cshtml";
}
<fieldset>
                   <legend>BIENVENUE sur toutokazz</legend>
               </fieldset>
<div>
    <p>Veuillez verifier votre email pour valider votre inscription.</p>
</div>
