<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.toutokazz.com</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>xwdz12.dailyrazor.com</MSDeployServiceURL>
    <DeployIisAppPath>toutokazz.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>toutokaz</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="toutokaz_dbEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Models.toutokazzmodel.csdl|res://*/Models.toutokazzmodel.ssdl|res://*/Models.toutokazzmodel.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=xdbs2.dailyrazor.com;initial catalog=toutokaz_db;User ID=touto_root;Password=toutokazz2014;multipleactiveresultsets=True;application name=EntityFramework&amp;quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Toutokaz.Domain.Models.toutokaz_dbEntities, Toutokaz.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SecurityConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=xdbs2.dailyrazor.com;Initial Catalog=toutokaz_db;User ID=touto_root;Password=toutokazz2014;Application Name=EntityFramework" Name="Data Source=xdbs2.dailyrazor.com;Initial Catalog=toutokaz_db;User ID=touto_root;Password=toutokazz2014;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xdbs2.dailyrazor.com;Initial Catalog=toutokaz_db;User ID=touto_root;Password=toutokazz2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SecurityConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=xdbs2.dailyrazor.com;Initial Catalog=toutokaz_db;User ID=touto_root;Password=toutokazz2014;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SecurityConnection-Web.config Connection String">
      <ParameterValue>Data Source=xdbs2.dailyrazor.com;Initial Catalog=toutokaz_db;User ID=touto_root;Password=toutokazz2014;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)toutokaz_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.toutokazzmodel.csdl|res://*/Models.toutokazzmodel.ssdl|res://*/Models.toutokazzmodel.msl;provider=System.Data.SqlClient;provider connection string="metadata=res://*/Models.toutokazzmodel.csdl|res://*/Models.toutokazzmodel.ssdl|res://*/Models.toutokazzmodel.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=xdbs2.dailyrazor.com;initial catalog=toutokaz_db;User ID=touto_root;Password=toutokazz2014;multipleactiveresultsets=True;application name=EntityFramework&amp;quot;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>