@model Toutokaz.Domain.Models.tb_ad_chaussure
@using Toutokaz.WebUI.Helpers

<div class="form-group" id="marque_chaussure">
    <label class="col-md-3 control-label">Marque</label>
    <div class="col-md-8">
        @Html.TextBoxFor(model => model.marque, new { @class = "form-control" })
    </div>
</div>
<div id="chaussure_taille" class="form-group">
    <label class="col-md-3 control-label">Taille</label>
    <div class="col-md-8">
        @Html.TextBoxFor(model => Model.taille, new { @class = "form-control" })
    </div>
</div>
