@{
    ViewBag.Title = "Toutokazz - Changer mot de Passe";
    Layout = "~/Views/Shared/_LayoutMesAnnoncesPagev2.cshtml";
}


<div class="inner-box">
 
<h2 class="title-2">Changer Votre mot de passe</h2>
                                          
        <form class="form-horizontal" role="form" method="post" action="@Url.Action("ChangePassword","Account")">
                          <div>
                            @Html.Raw(@ViewBag.Message)
                        </div>
                           <div class="form-group">
                               @Html.ValidationSummary(true)
                            
                            <label for="lblNom" class="col-sm-3 control-label">Mot de Passe actuel</label>
                            <div class="col-sm-6">
                                   <input type="password" name="currentPassword" id="currentPassword" class="form-control" placeholder="mot de passe actuel" />
                               </div>
                          </div>
                            <div class="form-group">
                            <label for="lblPrenom" class="col-sm-3 control-label">Nouveau Mot de passe</label>
                            <div class="col-sm-6">
                                     <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Nouveau mot de passe" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Confirmer Mot de passe</label>
                            <div class="col-sm-6">
                                     <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirmer mot de passe" />
                            </div>
                          </div>
 
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                              <button id="btnvalider" type="submit" class="btn btn-primary">Valider</button>
                            </div>
                          </div>
                        </form>
              
     
</div>  
