@{
    ViewBag.Title = "Toutokazz - Changer mot de Passe";
    Layout = "~/Views/Shared/_LayoutMesAnnoncesPagev2.cshtml";
}


<div class="inner-box">
 
   <h2 class="title-2">Changer de Mot de Passe</h2>    
    <span>Vous avez changer votre mot de passe avec succes</span> 
    	
</div>

