@model Toutokaz.WebUI.Models.AccountViewModel

@{
    ViewBag.Title = "Toutokazz - Creer un compte";
    Layout = "~/Views/Shared/_LayoutPagev2.Mobile.cshtml";
}


<div>
    <div id="creer-compte">
    
        <div>
            <h5> LA CRÉATION DE VOTRE COMPTE EST GRATUITE</h5>
            <div style="margin-bottom:25px; margin-top:25px;">
                @Html.Action("ExternalLoginButtonBig", new { ReturnUrl = ViewBag.ReturnUrl })
            </div>

            <div style="margin-top:20px;margin-bottom:30px;">
                <h4><span class="glyphicon glyphicon-ok"></span> Pas de frais d’affichage</h4>
                <h4><span class="glyphicon glyphicon-ok"></span> Pas de commissions</h4>
                <h4><span class="glyphicon glyphicon-ok"></span> Facile à utiliser</h4>
                <h4><span class="glyphicon glyphicon-ok"></span> Publicité rapide et efficace</h4>
            </div>
        </div>
    </div>
</div>
