@{
    ViewBag.Title = "Toutokazz - Registration";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminPagev2.cshtml";
}

@section conversion_script {
    <!-- Facebook Conversion Code for Enregistrer annonceurs -->
    <script>
        (function () {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6022744513141', { 'value': '0.01', 'currency': 'USD' }]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6022744513141&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
}



<div class="col-lg-12">
   <h3>Le compte est activé automatiquement.</h3>   
    <hr />   
<p>Bon à savoir :Si vous ne recevez pas l'email de confirmation, 2 options :  </p> 
    <ul>
        <li>l'adresse email indiquée n'est pas valide.</li>
        <li>l'email a été bloqué par votre filtre anti-spam. Dans ce dernier cas, pas besoin de créer à nouveau votre Compte.
            Il vous suffit de retrouver l'email dans votre boîte de réception anti-spam.
        </li>
    </ul>
     	
</div>
